body {
	margin: 0 auto;
	width: 900px;	
    background-color:#666;
    font-family: 'flama';
}

html {
    
    font-family: 'flama';
}
.child {
    padding: 10px;
}

#mainbox {
	
	width: 900px;
    height: 100%;
	margin-top: 0px;
	background-color:#333;

	color: #fff;
	font-family: 'flama';
}

.labelit {
	float: right;
    padding: 10px;
}

.subtotalright {
	
	float: right;	

}

.about {

    font-size: 16px;
    
}

#mycTable {
	border-collapse: collapse;
	border: 0;
    padding: 10px;
}

#tbody tr:nth-child(even) {
	
	background: #888;
	
}

#title {
	background-image: url("logo.png");
	width: 880px;
	padding: 10px;
	font-family: 'trajan' !important;
	color: #000;
	text-shadow: 0 0 5px #fff;
	height: 24px;
	float: left;
	text-align: left;
    line-height: 24px;
    font-size: 24px;
	
}


.totallabel {
	margin: 0 auto;
	width: 440px;
    margin-left: 10px;
	border: 0px;
	background: #fff;
	color: #222;
    padding: 10px;
    
}

.totallabel2 {
	margin: 0 auto;
	width: 300px;
	border: 0px;
	background: #333;
	color: #eee;
    padding: 10px;
    text-align: left;
    
}

.total {
	margin: 0 auto;
	width: 440px;
	border: 0px;
	text-align: right;
	background: #fff;
	color: #222;
    padding: 10px;
}

select {
    width: 120px;
    padding: 8px;

}

.operation {

    padding: 8px;
    width: 120px;
   
}

.entry {
	
	width: 120px;
	text-align: right;
    padding: 8px;
}

#subr {
	text-align: right;
	float: right;
}

.enter {
	width: 120px;
	background: green;
	color: #fff;
	padding: 8px;
}

.cvalue {
	text-align: right;
	width: 440px;
	padding-right: 10px;
	color: #ddd;
    padding: 10px;
}

.tvalue {
	width: 440px;
	text-align: left;
	padding-left: 10px;
	color: #ddd;
    padding: 10px;
}

.aright {
	text-align: right;
	padding-right: 15px;
	border-bottom: 1px solid #aaa;
	color:#fff;
    padding: 10px;
 

}

.aleft {

	border-bottom: 1px solid #aaa;
	color:#fff;
    padding: 10px;


}

#ghost {
    background: #333;
    height: 100%;
}

.delete {
	float: left;

    padding: 8px;
    background: red; 
    width: 120px;
    color: #fff;
}

.del {
	float: right;
	margin-left: 8px;
	width: 100px;
    padding: 10px;
  
}

.clear {
	width: 120px;
	color: #fff;
	padding: 8px;
    margin-top: 10px;
  
 
}



.clear2 {
	width: 120px;
	background: black; 
	color: #fff;
	padding: 8px;
    float: left;
    margin-left: 10px;
 
}

.print {
	width: 120px;
	background: dodgerblue;
	color: #fff;
	padding: 8px;
}

#footer {
	margin-top: 0;
	padding: 8px;
    background: #000;
    margin: 0 auto;
    text-align: center;
}

#mycTable2 {
	margin: 0 auto;
	text-align: center;
	color: #eee;
	border-bottom: 1px solid #aaa;
	background: #7c7f75;
    padding: 10px;
}
    @font-face {

      font-family: 'archivo';

      src: url('ArchivoNarrow-Regular.eot');

      /* IE9 Compat Modes */

      src: url('ArchivoNarrow-Regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */

        url('ArchivoNarrow-Regular.woff2') format('woff2'),
        /* Super Modern Browsers */

        url('ArchivoNarrow-Regular.woff') format('woff'),
        /* Pretty Modern Browsers */

        url('ArchivoNarrow-Regular.ttf') format('truetype');

      /* Safari, Android, iOS */

    }
    @font-face {
      font-family: 'trajan';

      src: url('ArchivoNarrow-Regular.eot');

      /* IE9 Compat Modes */

      src: url('TrajanPro-Regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */

        url('TrajanPro-Regular.woff2') format('woff2'),
        /* Super Modern Browsers */

        url('TrajanPro-Regular.woff') format('woff'),
        /* Pretty Modern Browsers */

        url('TrajanPro-Regular.ttf') format('truetype');

      /* Safari, Android, iOS */

    }	
    @font-face {
      font-family: 'flama';

      src: url('Flama.eot');

      /* IE9 Compat Modes */

      src: url('Flama.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */

        url('Flama.woff2') format('woff2'),
        /* Super Modern Browsers */

        url('Flama.woff') format('woff'),
        /* Pretty Modern Browsers */

        url('Flama.ttf') format('truetype');

      /* Safari, Android, iOS */

    }	
    
input[type="button"]
{
        border: none !important;
}
